body {
    background: #333; /* Cor de fundo mais escura */
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 36px;
    color: #fff; /* Texto branco */
    text-transform: uppercase;
  }
  h2{
    font-size: 20px;
    color: #fff; /* Texto branco */
    text-transform: uppercase;
  }
  
  div {
    text-align: center;
    background: rgba(255, 255, 255, 0.1); /* Fundo com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra suave */
  }
  
  input {
    display: block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc; /* Borda cinza */
    border-radius: 5px;
    width: 300px;
    color: #333; /* Texto mais escuro */
  }
  
  #submit {
    width: 300px;
    padding: 10px;
    background: #0077cc; /* Cor de fundo azul */
    color: #fff; /* Texto branco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease; /* Transição suave da cor de fundo */
    margin-top: 15px; /* Adicione um espaçamento superior para alinhar com os campos de entrada */
    margin-left: 20px;
  }
  a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
  }
  a:hover{
    color: #d3d3d3;
  }
  
  
  #submit:hover {
    background: #0055a5; /* Cor de fundo mais escura no hover */
  }
  